<div class="card-container">
    <div class="row">
        <div class="col-sm-1 offset-sm-9">
            <span class="dot"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div *ngIf="true" class="title">Stair way to heaven</div>
            <hr *ngIf="true">
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-1">
            <i class="fas fa-guitar">
                Rock
            </i>
        </div>
        <div class="offset-sm-1">
            <i class="fas fa-user-astronaut">
                105
            </i>
        </div>
        <div class="offset-sm-1">
            <i class="fas fa-stopwatch">
                2 min
            </i>
        </div>
        <div class="offset-sm-1">
            <i class="fas fa-trophy" data-toggle="tooltip" title="Points earned from guessing this song !">
                +7
            </i>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="offset-sm-5 col-sm-2">
            <i class="fas fa-play-circle fa-2x"></i>
        </div>
    </div>
</div>