<div class="card-container">
    <div class="row">
        <div class="col-sm-1 offset-sm-9">
            <span class="dot"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div *ngIf="true" class="title">Stair way to heaven</div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-1">Genre:</div>
    </div>
    <div class="row">
        <div class="offset-sm-1">Length:</div>
    </div>
</div>