 <div class="row">
    <div class="col-sm-12" id="MainPageNav">
      <app-main-page-nav></app-main-page-nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2" id="Filtering"></div>
    <div class="col-sm-8 p-5" id="WhistleCards">
        <div class="container">
          <div class="row">
            <div *ngFor="let cardData of cardsData" class="col-sm-4 mb-5">
              <app-whistle-card></app-whistle-card>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-2 p-0" id="Ranking">
      <app-leader-board></app-leader-board>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" id="Footer">
    </div>
  </div>