#MainPageNav{
    border-style: solid;
    height: 5rem;
}

#Filtering{
    border-style: solid;
    height: 50rem;
}

#WhistleCards{
    border-style: solid;
    height: 50rem;
    overflow: scroll;
}

#Ranking{
    border-style: solid;
    height: 50rem;
}

#Footer{
    border-style: solid;
    height: 5rem;
}