#MainPageNav{
    border-style: solid;
    height: 5rem;
}

#Filtering{
    border-style: solid;
    height: 40rem;
}

#WhistleCards{
    border-style: solid;
    height: 40rem;
}

#Ranking{
    border-style: solid;
    height: 40rem;
}

#Footer{
    border-style: solid;
    height: 5rem;
}