<h1>Leader Board</h1>
            
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"><i class="fas fa-hashtag"></i></th>
                    <th scope="col"><i class="fa fa-globe fa-1x"></i></th>
                    <th scope="col"><i class="fa fa-user fa-1x"></i></th>
                    <th scope="col"><i class="fa fa-star fa-1x"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>1</td>
                    <td>Lebanon</td>
                    <td>Sam97</td>
                    <td>156</td>
                  </tr>
                </tbody>
              </table>